<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>메인 페이지</title>
<head>
<th:block
	th:replace="/fragments/layouts/headerFragment.html :: headerFragment"></th:block>
</head>
<link rel="stylesheet" th:href="@{/css/manage.css}">
<script type="text/javascript" th:inline="javascript">
var search = document.getElementById("myProduct");

$(document).on('keydown', '#myProduct', function(e) {
	if (e.keyCode == 13 && !e.shiftKey) {
		const message = $(this).val(); // 현재 입력된 메세지를 담는다.

		let search3 = $('#myProduct').val();

		if (search3.replace(/\s|  /gi, "").length == 0) {
			return false;
			$('#myProduct').focus();
		}
		var url = "/shop/search/" + message;
		location.replace(url);
		return true;

	}
});
</script>
<body style="overflow: auto;">
	<!-- 본문 글 -->
	<th:block th:replace="/fragments/layouts/nav.html :: fragment-nav"></th:block>
	<div class="sc-zDqdV KTEbe">
		<div class="sc-grYksN bdjFXR">
			<nav class="sc-iysEgW hPoAmr">
			<div class="sc-gtXRHa olfVL">
				<a class="sc-fxgLge fTCePo" href="/sellForm">상품등록</a>
			</div>
			<div class="sc-gtXRHa gdXTTs">
				<a class="sc-fxgLge fTCePo" href="/shop/product/manage">상품관리</a>
			</div>
			</nav>
		</div>
		<div class="sc-kBzFSH hFZuTV">
			<main class="sc-jEdsij bfaSKF"> 
			<header class="sc-eBipZS jxtWGj">
				<div class="sc-eMgOci bDTWcy">
					<input type="text" placeholder="상품명을 입력해주세요." value="" class="myProduct" id="myProduct" autocomplete="off">
					<button type="submit" class="sc-wENpt gDYVix"></button>
				</div>
			</header>
			<table>
				<thead>
					<tr>
						<th>사진</th>
						<th>판매상태</th>
						<th>상품명</th>
						<th>가격</th>
						<th>찜</th>
						<th>최근수정일</th>
						<th>기능</th>
					</tr>
				</thead>
				<tbody class="article-list" id="article-list">
				</tbody>
			      <!-- Pagination List -->
		      	<ul class="article-list__pagination article-list__pagination--inactive"
		        id="article-list-pagination" style="display:none;">
		        </ul>
			</table>
				<div class="sc-fIIFii csKIcC" th:if="${count==0}" >등록된 상품이 없습니다</div>
			</main>
		</div>
	</div>
<script type="text/javascript" th:inline="javascript">
    const articlesPerPageSize = 5;
    
    function getPageId(n) {
        return 'article-page-' + n;
    }
     
    function getDocumentHeight() {
        const body = document.body;
        const html = document.documentElement;
        
        return Math.max(
            body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight
        );
    };
     
    function getScrollTop() {
        return (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
    }
	
    function getArticle(art) {
    	
    	
        //const articleImage = getArticleImage();
        
        const tr1 = document.createElement("tr");
	        const td1 = document.createElement("td");
	        	const article1 = document.createElement("a"); 
	       			const img = document.createElement("img");
       	
       	const td2 = document.createElement("td");
       		const div1 = document.createElement("div");
       		
       	const td3 = document.createElement("td"); 
       		const article2 = document.createElement("a"); 
       		
       	const td4 = document.createElement("td");
       		const b1 = document.createElement("b");
    		
       	const td5 = document.createElement("td");
       		const b2 = document.createElement("b");
       		
       	const td6 = document.createElement("td");
      	 	const span1 = document.createElement("span");
       
       	
       	const td7 = document.createElement("td");			
			const article3 = document.createElement("a");	
			const br = document.createElement("br");
			const article4 = document.createElement("a");	
       	
        article1.href = "/product_detail?P_ID="+art.p_ID;
       	article1.target ="_blank";
       	article1.rel="noopener noreferrer";
       	
        article2.href = "/product_detail?P_ID="+art.p_ID;
        article2.textContent = art.p_TITLE;
       	article2.target ="_blank";
       	article2.rel="noopener noreferrer";
       	
       	article3.className="sc-jgwFWF iDkAQj"
       	article3.href = "/shop/product/edit?P_ID="+art.p_ID;
        article3.textContent = "수정";
       	
        article4.style.color ="red";
       	article4.className="sc-jgwFWF iDkAQj"
        article4.href = "/shop/product/delete?P_ID="+art.p_ID;
        article4.textContent = "삭제";
       	
       	
        img.src = "/image/"+art.image1;
        img.style.width = '166px';
        img.style.height = '166px';
        
        b1.textContent=art.price;
        
        b2.textContent=art.likesCount;
        
        span1.textContent=art.p_DATE;
        
        div1.className="css-1uccc91-singleValue";
        div1.textContent="판매 중";
        
 
		tr1.appendChild(td1);
        td1.appendChild(article1);
        article1.appendChild(img);
        
        tr1.appendChild(td2);
        td2.appendChild(div1);
        
        tr1.appendChild(td3);
        td3.appendChild(article2);
		
		tr1.appendChild(td4);
        td4.appendChild(b1);
         
        tr1.appendChild(td5);
        td5.appendChild(b2);
        
        tr1.appendChild(td6);
        td6.appendChild(span1);
        
        tr1.appendChild(td7);
        td7.appendChild(article3);
        td7.appendChild(br);
        td7.appendChild(article4);
        
        return tr1;
    }

    function addPaginationPage(page) {
        const pageLink = document.createElement('a');
        pageLink.href = '#' + getPageId(page);
        pageLink.innerHTML = page;
        
        const listItem = document.createElement('li');
        listItem.className = 'article-list__pagination__item';
        listItem.appendChild(pageLink);
        
        articleListPagination.appendChild(listItem);
        
        if (page === 2) {
            articleListPagination.classList.remove('article-list__pagination--inactive');
        }
    }
     

    function addPage(page) {
    	$.ajax({
            type: 'GET',
            url: '/search/message/scroll/list',
            data: {
              page: page, // current Page
              size: articlesPerPageSize, // max page size
              email:[[${session.userId}]],
              message: [[${message}]]
            },
            dataType: 'json',
          }).done(function (result) {
            if (result.length == 0) {
              return;
            }

            for (var i = 0; i < result.length; i++) {
            	articleList.appendChild(getArticle(result[i]));
            }
        addPaginationPage(page);
       });
    }
     
    const articleList = document.getElementById('article-list');
    const articleListPagination = document.getElementById('article-list-pagination');
    
    let page = 0;
     
    addPage(page++);
     
    window.onscroll = function() {
    	if (getScrollTop() > getDocumentHeight() - window.innerHeight-400){
    		
        	didScroll = true;
    	
    	 return; 
    	}
    	
    }
    
    setInterval(function() {
        if (didScroll) {
            hasScrolled();
            didScroll = false;
        }
    }, 3000);
    
    function hasScrolled() {
    	addPage(page++)
    }
    
    </script>
<th:block th:replace="/fragments/layouts/footerFragment.html :: footerFragment"></th:block>
</body>
</html>