<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>메인 페이지</title>
<head>
<th:block
	th:replace="/fragments/layouts/headerFragment.html :: headerFragment"></th:block>
</head>
<link rel="stylesheet" th:href="@{/css/product.css}">
<link rel="stylesheet" th:href="@{/css/search.css}">
<body style="overflow: auto;">
	<!-- 본문 글 -->
	<th:block th:replace="/fragments/layouts/nav.html :: fragment-nav"></th:block>
	<div class="eTsNIo">
		<div class="jplYmU">
		<br>
		<div class="sc-fjhmcy RySdl">
			<div class="sc-iqzUVk hyQWtv">
				<div class="sc-ipZHIp kURJBp">카테고리</div>
				<div class="sc-iGrrsa hcHkOy">
					<a class="sc-bmyXtO jOllRl">
					<div class="sc-dEoRIm gIvXIz">
							<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAAXNSR0IArs4c6QAAAaVJREFUKBWFUz1LA0EQde9DIjaxSBNIG2shnR9whYVgIQqnjURikhP/QDqLVPoL9KJJEUHIgYggSFCs7K2tU6ZIrAwa73zvyB6bM8GB3Ox782Z2Z3YjZmCe5832er2WruvVYrH4Rm6aaQz0+/0ruC3f99v1en1xmpi85rpuNQiCfQL41HA4fGo0GhniSaYJIRZigQySnpGUivEhFKgqLmHwhzEBe7Ecx/lQee4QlEqlMsgbNYD1En4PGMicyodNI8nPZrN5+Ds1iPUKBnKLPk3JhwkElmUNk8nkHpIeZZAeR92Au4YPtVECg7Ztf5mmuY2kF2LFdmu12jmxUMho2Ww25weDQRtVlyOSYiHOxnaQwUQi4UMcSKz6PzuwQVS6h55njwycWy6Xj8Z2gIiYDY6JwbUw+mNm6/xIS6fTF1jnJaZHZU7NzuVyP8QGPzRM4RSVeYGqvWLUO5jetyTDI0FcgbgiyZHn09iE+FPlBZp0QPAoqr3jPlYLhUJXJbnmDmsxsgPx+iSxTDgYNcYGu4ZhUNyJFYlgeA98kXhknqZpJ//9RX8BYkCa7Y9z0J0AAAAASUVORK5CYII="
								width="6" height="10" alt="화살표 아이콘">
					</div>
						<div class="sc-jtggT buLuLa">피규어/인형</div>
						<div class="sc-ebFjAB bPkNWf">1백+</div>
					</a>
					<a class="sc-bmyXtO jOllRl">
					<div class="sc-dEoRIm gIvXIz">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAAXNSR0IArs4c6QAAAaVJREFUKBWFUz1LA0EQde9DIjaxSBNIG2shnR9whYVgIQqnjURikhP/QDqLVPoL9KJJEUHIgYggSFCs7K2tU6ZIrAwa73zvyB6bM8GB3Ox782Z2Z3YjZmCe5832er2WruvVYrH4Rm6aaQz0+/0ruC3f99v1en1xmpi85rpuNQiCfQL41HA4fGo0GhniSaYJIRZigQySnpGUivEhFKgqLmHwhzEBe7Ecx/lQee4QlEqlMsgbNYD1En4PGMicyodNI8nPZrN5+Ds1iPUKBnKLPk3JhwkElmUNk8nkHpIeZZAeR92Au4YPtVECg7Ztf5mmuY2kF2LFdmu12jmxUMho2Ww25weDQRtVlyOSYiHOxnaQwUQi4UMcSKz6PzuwQVS6h55njwycWy6Xj8Z2gIiYDY6JwbUw+mNm6/xIS6fTF1jnJaZHZU7NzuVyP8QGPzRM4RSVeYGqvWLUO5jetyTDI0FcgbgiyZHn09iE+FPlBZp0QPAoqr3jPlYLhUJXJbnmDmsxsgPx+iSxTDgYNcYGu4ZhUNyJFYlgeA98kXhknqZpJ//9RX8BYkCa7Y9z0J0AAAAASUVORK5CYII="
								width="6" height="10" alt="화살표 아이콘">
					</div>
						<div class="sc-jtggT buLuLa">인형(유아용)</div>
						<div class="sc-ebFjAB bPkNWf">76</div>
					</a>
					<a class="sc-bmyXtO jOllRl">
					<div class="sc-dEoRIm gIvXIz">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAAXNSR0IArs4c6QAAAaVJREFUKBWFUz1LA0EQde9DIjaxSBNIG2shnR9whYVgIQqnjURikhP/QDqLVPoL9KJJEUHIgYggSFCs7K2tU6ZIrAwa73zvyB6bM8GB3Ox782Z2Z3YjZmCe5832er2WruvVYrH4Rm6aaQz0+/0ruC3f99v1en1xmpi85rpuNQiCfQL41HA4fGo0GhniSaYJIRZigQySnpGUivEhFKgqLmHwhzEBe7Ecx/lQee4QlEqlMsgbNYD1En4PGMicyodNI8nPZrN5+Ds1iPUKBnKLPk3JhwkElmUNk8nkHpIeZZAeR92Au4YPtVECg7Ztf5mmuY2kF2LFdmu12jmxUMho2Ww25weDQRtVlyOSYiHOxnaQwUQi4UMcSKz6PzuwQVS6h55njwycWy6Xj8Z2gIiYDY6JwbUw+mNm6/xIS6fTF1jnJaZHZU7NzuVyP8QGPzRM4RSVeYGqvWLUO5jetyTDI0FcgbgiyZHn09iE+FPlBZp0QPAoqr3jPlYLhUJXJbnmDmsxsgPx+iSxTDgYNcYGu4ZhUNyJFYlgeA98kXhknqZpJ//9RX8BYkCa7Y9z0J0AAAAASUVORK5CYII="
								width="6" height="10" alt="화살표 아이콘">
					</div>
						<div class="sc-jtggT buLuLa">인형/피규어</div>
						<div class="sc-ebFjAB bPkNWf">62</div>
					</a>
					<a class="sc-bmyXtO jOllRl">
					<div class="sc-dEoRIm gIvXIz">
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAAXNSR0IArs4c6QAAAaVJREFUKBWFUz1LA0EQde9DIjaxSBNIG2shnR9whYVgIQqnjURikhP/QDqLVPoL9KJJEUHIgYggSFCs7K2tU6ZIrAwa73zvyB6bM8GB3Ox782Z2Z3YjZmCe5832er2WruvVYrH4Rm6aaQz0+/0ruC3f99v1en1xmpi85rpuNQiCfQL41HA4fGo0GhniSaYJIRZigQySnpGUivEhFKgqLmHwhzEBe7Ecx/lQee4QlEqlMsgbNYD1En4PGMicyodNI8nPZrN5+Ds1iPUKBnKLPk3JhwkElmUNk8nkHpIeZZAeR92Au4YPtVECg7Ztf5mmuY2kF2LFdmu12jmxUMho2Ww25weDQRtVlyOSYiHOxnaQwUQi4UMcSKz6PzuwQVS6h55njwycWy6Xj8Z2gIiYDY6JwbUw+mNm6/xIS6fTF1jnJaZHZU7NzuVyP8QGPzRM4RSVeYGqvWLUO5jetyTDI0FcgbgiyZHn09iE+FPlBZp0QPAoqr3jPlYLhUJXJbnmDmsxsgPx+iSxTDgYNcYGu4ZhUNyJFYlgeA98kXhknqZpJ//9RX8BYkCa7Y9z0J0AAAAASUVORK5CYII="
								width="6" height="10" alt="화살표 아이콘">
					</div>
						<div class="sc-jtggT buLuLa">만화</div>
						<div class="sc-ebFjAB bPkNWf">47</div>
					</a>
				</div>
			</div>
		</div>
		<div class="sc-iBEsjs TZWco">
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">키덜트</div>
					<div class="sc-LKuAh dPgNEV">154</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">스타굿즈</div>
					<div class="sc-LKuAh dPgNEV">103</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">유아동/출산</div>
					<div class="sc-LKuAh dPgNEV">77</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">도서/티켓/문구</div>
					<div class="sc-LKuAh dPgNEV">60</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">예술/희귀/수집품</div>
					<div class="sc-LKuAh dPgNEV">18</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">기타</div>
					<div class="sc-LKuAh dPgNEV">15</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">패션
						액세서리</div>
					<div class="sc-LKuAh dPgNEV">6</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">디지털/가전</div>
					<div class="sc-LKuAh dPgNEV">6</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">가구/인테리어</div>
					<div class="sc-LKuAh dPgNEV">3</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">남성의류</div>
					<div class="sc-LKuAh dPgNEV">2</div></a>
			</div>
			<div>
				<a class="sc-jKVCRD eNAQfa"><div class="sc-kaNhvL hvZmHh">여성의류</div>
					<div class="sc-LKuAh dPgNEV">1</div></a>
			</div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	<br>
	<div class="productSession">
		<h2>검색 결과</h2>
	</div>
	<br>
<div class="main">
      <div class="article-list" id="article-list">
      
      </div>
      <!-- Pagination List -->
      <ul class="article-list__pagination article-list__pagination--inactive"
        id="article-list-pagination" style="display:none;">
       </ul>
</div>
</div>
   <script type="text/javascript" th:inline="javascript">
    const articlesPerPageSize = 50;
    
    function getPageId(n) {
        return 'article-page-' + n;
    }
     
    function getDocumentHeight() {
        const body = document.body;
        const html = document.documentElement;
        
        return Math.max(
            body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight
        );
    };
     
    function getScrollTop() {
        return (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
    }
	
    function getArticle(art) {
    	
    	console.log(art.price);
        
        const div0 = document.createElement("div");
        const article = document.createElement("a");
        const div1 = document.createElement("div");
       	const img = document.createElement("img");
       	const div2 = document.createElement("div");
       	const div3 = document.createElement("div");
       	const div4 = document.createElement("div");
       	const p1 = document.createElement("p");
       	const div5 = document.createElement("div");
       	const div6 = document.createElement("div");
       	const b1 = document.createElement("b");
       	const div7 = document.createElement("div");
       	const span1 = document.createElement("span");
       	
       	div0.className="productform";
       	
        article.className = 'aClass';
        article.href = "/product_detail?P_ID="+art.p_ID;
         
        img.src = "/image/"+art.image1;
        img.className = "imageClass";
        img.style.width = '194px';
        img.style.height = '194px';
        
        div1.className="imageBlock";
        
        div2.className="middleBlock";
        
        div3.className="titleBlock";
        
        div4.className="titleText";
        
        p1.textContent=art.p_TITLE;
        
        div5.className="priceBlock";
        
        div6.className="priceText";
        
        b1.textContent=art.price;
        
        div7.className="timeStamp";
        
        span1.textContent=art.p_DATE;
        
        div0.appendChild(article);
        article.appendChild(div1);
        div1.appendChild(img);
        div1.appendChild(div2);
        article.appendChild(div3);
        div3.appendChild(div4);
        div4.appendChild(p1);
        div3.appendChild(div5);
        div5.appendChild(div6);
        div6.appendChild(b1);
        div5.appendChild(div7);
        div7.appendChild(span1);
        return div0;
    }

    function addPaginationPage(page) {
        const pageLink = document.createElement('a');
        pageLink.href = '#' + getPageId(page);
        pageLink.innerHTML = page;
        
        const listItem = document.createElement('li');
        listItem.className = 'article-list__pagination__item';
        listItem.appendChild(pageLink);
        
        articleListPagination.appendChild(listItem);
        
        if (page === 2) {
            articleListPagination.classList.remove('article-list__pagination--inactive');
        }
    }
     

    function addPage(page) {
    	$.ajax({
            type: 'GET',
            url: '/search/scroll/category/list',
            data: {
              page: page, // current Page
              size: articlesPerPageSize, // max page size
              message: [[${message}]]
            },
            dataType: 'json',
          }).done(function (result) {
            if (result.length == 0) {
              return;
            }
            const pageElement = document.createElement('div');
            pageElement.id = getPageId(page);
            pageElement.className = 'productSession';
            const div10 = document.createElement('div');
            div10.className = "mainform";
            pageElement.appendChild(div10);
            for (var i = 0; i < result.length; i++) {
            	div10.appendChild(getArticle(result[i]));
            }
            articleList.appendChild(pageElement);
        addPaginationPage(page);
       });
    }
     
    const articleList = document.getElementById('article-list');
    const articleListPagination = document.getElementById('article-list-pagination');
    
    let page = 0;
     
    addPage(page++);
     
    window.onscroll = function() {
        if (getScrollTop() < getDocumentHeight() - window.innerHeight) return;
        addPage(page++);
    };

    </script>
		</div>
	<th:block
		th:replace="/fragments/layouts/footerFragment.html :: footerFragment"></th:block>
</body>
</html>