<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>아이디 비밀번호 찾기</title>
<link rel="stylesheet" href="css/loginForm.css">
<script type="text/javascript" src="js/member.js"></script> 
<script type="text/javascript">
function formclose(){
	  self.close();
	}
</script>
</head>
<style>
*{
	margin:0 auto;
	text-align:center;
}
</style>
<body>
<div id="wrap">
  <h1>비밀번호 찾기 결과</h1>
  <form method=post name=formm id="pwd_form" style="margin-right:0" >
    User ID <input type=text name="id" th:value="${id}">   
    <div style="margin-top: 20px">   
      <span th:if="${message== 1}">
      	<label>Change Password</label> 
        <input type="password"  name="password" id="password"><br> 
        <label>Retype Password</label> 
        <input type="password"  name="passwordCheck" id="passwordCheck"><br> 
        <input type="button" value="확인" class="cancel" onclick="changePassword()">
      </span>
      <span th:if="${message==-1}">
             잘못된 사용자 정보입니다.
         <input type="button" value="확인" class="cancel" onclick="formclose()">
      </span>
    </div>
    
  </form>
</div>  
</body>
</html>