@charset "UTF-8";
b, strong {
    font-weight: bolder;
}
img {
    vertical-align:middle;
}
img {
    border-style: none;
}
.clxGMB {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
}
.eXPMTY {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
}
.drBkCa {
    height: 65px;
    width: 1024px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.drBkCa > a:first-child {
    padding-left: 0px;
}
.drBkCa > a {
    padding: 0px 25px;
    text-align: center;
}
.esSntt {
    display: block;
    font-size: 13px;
    color: rgb(51, 51, 51);
    position: relative;
}
.esSntt::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 1px;
    height: 14px;
    border-right: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
}
a {
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
}
a {
    background-color: transparent;
}

.BwQLm {
    padding: 40px 0px 45px;
}
.oXZLu {
    width: 1024px;
    display: flex;
}
.hrWyCF {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hrWyCF > div:first-child {
    margin-top: 0px;
}
.hrWyCF > div {
    margin-top: 16px;
}
.fGABUe {
    width: 100%;
}
.dTlKxo {
    font-weight: bold;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.jpJUFl {
    margin-top: 0.5rem;
    line-height: 2;
    font-size: 12px;
    color: rgb(127, 127, 127);
}
.jpJUFl a {
    white-space: nowrap;
    text-decoration: underline;
    color: rgb(127, 127, 127);
}
.jpJUFl strong {
    font-size: 25px;
    line-height: 1;
    color: rgb(102, 102, 102);
}
.jpJUFl .rights-copy {
    margin-top: 0.5rem;
    color: rgb(153, 153, 153);
}
.hrWyCF > div {
    margin-top: 16px;
}
.fGABUe {
    width: 100%;
}
.iLKstP {
    display: flex;
    flex-direction: column;
}
.iLKstP > :first-child {
    margin-top: 0px;
}

.bnkeft {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bnkeft > div:first-child {
    margin-top: 0px;
}
.bnkeft > div {
    margin-top: 40px;
}

.fGABUe {
    width: 100%;
}
.iLKstP > * {
    margin-top: 6px;
}
.dTlKxo {
    font-weight: bold;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
.bnkeft > div {
    margin-top: 40px;
}
.fGABUe {
    width: 100%;
}
.bQbag {
    border-top: 1px solid rgb(229, 229, 229);
    margin-top: 2.5rem;
    padding-top: 1rem;
    width: 1024px;
    display: flex;
    line-height: 1.5;
    font-size: 11px;
}
.hrWyCF {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.gNeqKE {
    display: flex;
    color: rgb(153, 153, 153);
}
.gNeqKE img {
    margin-right: 1rem;
}
.jzssPZ {
    color: rgb(153, 153, 153);
}
