@charset "UTF-8";
*, ::before, ::after {
    box-sizing: border-box;
}
::before, ::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    text-size-adjust: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,  abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}
body {
    background-color: rgb(249, 249, 249);
    font-size: 14px;
}
body, input, textarea, select, button {
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    outline: 0px;
    border: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}
ol, ul {
    list-style: none;
}
b, strong {
    font-weight: bolder;
}
button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
textarea {
    overflow: auto;
}
.dyRHkT {
    background: rgb(255, 255, 255);
    font-size: 16px;
}
.ZBvXd {
    height: 4rem;
    border-bottom: 1px solid rgb(244, 244, 250);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.jjGZoh {
    width: 1024px;
    display: flex;
    height: 100%;
    font-size: 14px;
}
.csHxlN:first-child {
    margin-left: -0.5rem;
}
.csHxlN {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 2rem;
}
.csHxlN .sc-bhlBdH {
    color: rgb(255, 80, 88);
}
.libDGv {
    padding: 0.5rem;
}
a {
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
}
.csHxlN::after {
    content: "";
    width: 1px;
    height: 14px;
    border-right: 1px solid rgb(210, 210, 210);
    margin-left: 2rem;
}
.clRWq {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 2rem;
}
.clRWq::after {
    content: "";
    width: 1px;
    height: 14px;
    border-right: 1px solid rgb(210, 210, 210);
    margin-left: 2rem;
}
.gGZoQR {
    padding: 0.5rem;
}
.eIxVfd {
    background: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
}
.jETxPj {
    display: block;
    width: 1024px;
    margin: auto;
}
.eIxVfd section {
    display: block;
}

.jeqdkH {
    margin-bottom: 3rem;
}
.eIxVfd section h2 {
    height: 100px;
    font-size: 26px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(30, 29, 41);
}
.eIxVfd section h2 > span {
    color: rgb(255, 80, 88);
    font-size: 1rem;
    margin-left: 2rem;
}
.eIxVfd div h2 {
    height: 100px;
    font-size: 26px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(30, 29, 41);
}
.eIxVfd div h2 > span {
    color: rgb(255, 80, 88);
    font-size: 1rem;
    margin-left: 2rem;
}
.hOFNTa {
    padding-top: 0.5rem;
}

ol, ul {
    list-style: none;
}
.iwsyNh {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid rgb(220, 219, 228);
}
.fMDfrj {
    width: 10.5rem;
    font-size: 18px;
}
.fMDfrj > span {
    color: rgb(255, 80, 88);
}
.fMDfrj > small {
    color: rgb(155, 153, 169);
    margin-left: 0.25rem;
}
.kfgfBW {
    position: relative;
    flex: 1 1 0%;
}
.esydjP {
    display: flex;
    width: 880px;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.img_class{
    width: 202px;
    height: 202px;
    position: relative;
    border: 1px solid rgb(230, 229, 239);
    background: rgb(250, 250, 253);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(155, 153, 169);
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

}
.dghCFG {
    width: 202px;
    height: 202px;
    position: relative;
    border: 1px solid rgb(230, 229, 239);
    background: rgb(250, 250, 253);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(155, 153, 169);
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.dghCFG::before {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KICAgIDxwYXRoIGZpbGw9IiNEQ0RCRTQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTI4LjQ3MSAzMkgzLjUzYy0uOTcxIDAtMS44OTQtLjQyMi0yLjUyOS0xLjE1N2wtLjAyNi0uMDNBNCA0IDAgMCAxIDAgMjguMTk4VjguNjA3QTQgNCAwIDAgMSAuOTc0IDUuOTlMMSA1Ljk2YTMuMzQzIDMuMzQzIDAgMCAxIDIuNTI5LTEuMTU2aDIuNTM0YTIgMiAwIDAgMCAxLjUzNy0uNzJMMTAuNC43MkEyIDIgMCAwIDEgMTEuOTM3IDBoOC4xMjZBMiAyIDAgMCAxIDIxLjYuNzJsMi44IDMuMzYzYTIgMiAwIDAgMCAxLjUzNy43MmgyLjUzNGMuOTcxIDAgMS44OTQuNDIzIDIuNTI5IDEuMTU3bC4wMjYuMDNBNCA0IDAgMCAxIDMyIDguNjA2djE5LjU5MWE0IDQgMCAwIDEtLjk3NCAyLjYxN2wtLjAyNi4wM0EzLjM0MyAzLjM0MyAwIDAgMSAyOC40NzEgMzJ6TTE2IDkuNmE4IDggMCAxIDEgMCAxNiA4IDggMCAwIDEgMC0xNnptMCAxMi44YzIuNjQ3IDAgNC44LTIuMTUzIDQuOC00LjhzLTIuMTUzLTQuOC00LjgtNC44YTQuODA1IDQuODA1IDAgMCAwLTQuOCA0LjhjMCAyLjY0NyAyLjE1MyA0LjggNC44IDQuOHoiLz4KPC9zdmc+Cg==);
    margin-bottom: 1rem;
}
.jETxPj input, .jETxPj textarea {
    border: 1px solid rgb(195, 194, 204);
}

.jETxPj textarea {
    padding: 1rem;
    resize: none;
    line-height: 1.35;
}

.dghCFG input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    cursor: pointer;
    font-size: 0px;
}
.isocOz {
    margin-top: 1.5rem;
    color: rgb(74, 164, 255);
    line-height: 1.5;
    font-size: 14px;
}
.fuybda {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.lpirwo {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.hwYVRE {
    position: absolute;
    top: 50px;
    right: 50px;
}
button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}

@media (min-height: 720px) {
	.cTXfBY {
    padding: 3rem 0px;
	}
}
.cTXfBY {
    padding: 3rem 0px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
}

@media (min-height: 720px) {
	.fKKSeu {
    height: 550px;
	}
}

.fKKSeu {
    display: flex;
    margin-left: calc((50% - 275px) - 0px);
    transition: margin-left 0.2s ease-in-out 0s;
}
@media (min-height: 720px){
	.iQvrPb {
	    padding: 2.5rem 0px;
	}
}
.iQvrPb {
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
}
.iwsyNh {
    width: 100%;
    display: flex;
    padding: 2rem 0px;
    border-bottom: 1px solid rgb(220, 219, 228);
}
.iReqUw {
    width: 10.5rem;
    font-size: 18px;
    padding-top: 14px;
}
.iReqUw > span {
    color: rgb(255, 80, 88);
}
.hPgTYY {
    width: 240px;
    margin-right: 1rem;
}
.kfgfBW {
    position: relative;
    flex: 1 1 0%;
}
.hdamdz {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}
.hdamdz .sc-blIhvV {
    flex: 1 1 0%;
}
.dUxHUN {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.jETxPj input:not([type="file"]):not([type="radio"]) {
    height: 3rem;
    padding: 0px 1rem;
}
.jETxPj input[type="checkbox"] {
    display: none;
}
.dUxHUN a {
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    color: rgb(155, 153, 169);
}
.gDXthV {
    width: 100%;
}
.daCKGb {
    margin-left: 1.5rem;
    font-size: 1rem;
    text-align: right;
}
<!-- -->
.jowNbo {
    width: 10.5rem;
    font-size: 18px;
    padding-top: 8px;
}
.jowNbo > span {
    color: rgb(255, 80, 88);
}
.wNrKZ {
    display: flex;
    width: 100%;
    height: 19rem;
    overflow: hidden;
    border: 1px solid rgb(220, 219, 228);
}
.bUJOfH {
    width: 284px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow-y: auto;
    color: rgb(195, 194, 204);
}
.hZiIqV {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0px;
}
.kJlieW {
    display: flex;
    width: 100%;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
}
.gNMaOW {
    width: 100%;
    height: 100%;
    padding: 0px 1.5rem;
}

.bUJOfH:nth-child(2), .bUJOfH:nth-child(3) {
    border-left: 1px solid rgb(220, 219, 228);
}

.bUJOfH {
    width: 284px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow-y: auto;
    color: rgb(195, 194, 204);
}
.jotRwt {
    width: 100%;
    height: 100%;
    padding: 0px 1.5rem;
    color: rgb(255, 80, 88);
}
.iUkvws {
    margin-top: 1.5rem;
    font-size: 16px;
    color: rgb(255, 80, 88);
}
.drXtBZ {
    width: 10.5rem;
    font-size: 18px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.drXtBZ > span {
    color: rgb(255, 80, 88);
}
.hLMOEE {
    width: 240px;
    margin-right: 1rem;
}
.ePieHk {
    display: flex;
}
.notExchange {
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}
.notExchange::before {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDIwYzUuNTE0IDAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTB6bTAtMThjNC40MTEgMCA4IDMuNTg5IDggOHMtMy41ODkgOC04IDgtOC0zLjU4OS04LTggMy41ODktOCA4LTh6Ii8+Cjwvc3ZnPgo=);
    border-radius: 50%;
}
.notExchange input[type="radio"] {
    display: none;
}
.Exchange {
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}
.Exchange::before {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDIwYzUuNTE0IDAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTB6bTAtMThjNC40MTEgMCA4IDMuNTg5IDggOHMtMy41ODkgOC04IDgtOC0zLjU4OS04LTggMy41ODktOCA4LTh6Ii8+Cjwvc3ZnPgo=);
    border-radius: 50%;
}
.Exchange input[type="radio"] {
    display: none;
}

.kzXpnJ {
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}
.kzXpnJ::before {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDIwYzUuNTE0IDAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTB6bTAtMThjNC40MTEgMCA4IDMuNTg5IDggOHMtMy41ODkgOC04IDgtOC0zLjU4OS04LTggMy41ODktOCA4LTh6Ii8+Cjwvc3ZnPgo=);
    border-radius: 50%;
}
.kzXpnJ input[type="radio"] {
    display: none;
}
.dQrzlv {
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}
.dQrzlv::before {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDIwYzUuNTE0IDAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTB6bTAtMThjNC40MTEgMCA4IDMuNTg5IDggOHMtMy41ODkgOC04IDgtOC0zLjU4OS04LTggMy41ODktOCA4LTh6Ii8+Cjwvc3ZnPgo=);
    border-radius: 50%;
}
.dQrzlv input[type="radio"] {
    display: none;
}

/*
.act {
    display: flex;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-right: 2rem;
}
*/
.act::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNGRjUwNTgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDIwYzUuNTE0IDAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTB6bTAtMThjNC40MTEgMCA4IDMuNTg5IDggOHMtMy41ODkgOC04IDgtOC0zLjU4OS04LTggMy41ODktOCA4LTh6bTAgMTNhNSA1IDAgMSAwIDAtMTAgNSA1IDAgMCAwIDAgMTB6Ii8+Cjwvc3ZnPgo=);
}
/*
.act input[type="radio"] {
    display: none;
}
*/

.gnoLfy {
    display: flex;
    margin-top: 1rem;
}
.emkahU {
    margin-right: 2rem;
}
.shippingCheck {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-right: 2rem;
}
.shippingCheck::before {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDBDNC40ODYgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMG0wIDE4Yy00LjQxMSAwLTgtMy41ODktOC04czMuNTg5LTggOC04IDggMy41ODkgOCA4LTMuNTg5IDgtOCA4bTIuMjkzLTEwLjcwN0w5IDEwLjU4NiA3LjcwNyA5LjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRsMiAyYS45OTcuOTk3IDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDEgMC0xLjQxNC0xLjQxNCIvPgo8L3N2Zz4K);
    border-radius: 50%;
}
.notShippingCheck {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-right: 2rem;
}
.notShippingCheck::before {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDBDNC40ODYgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMG0wIDE4Yy00LjQxMSAwLTgtMy41ODktOC04czMuNTg5LTggOC04IDggMy41ODkgOCA4LTMuNTg5IDgtOCA4bTIuMjkzLTEwLjcwN0w5IDEwLjU4NiA3LjcwNyA5LjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRsMiAyYS45OTcuOTk3IDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDEgMC0xLjQxNC0xLjQxNCIvPgo8L3N2Zz4K);
    border-radius: 50%;
}
.shippingCheck::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNGRjUwNTgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDBDNC40ODYgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMG0yLjI5MyA3LjI5M0w5IDEwLjU4NiA3LjcwNyA5LjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRsMiAyYS45OTcuOTk3IDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDEgMC0xLjQxNC0xLjQxNCIvPgo8L3N2Zz4K);
}
.edsRwT {
    width: 10.5rem;
    font-size: 18px;
    padding-top: 18px;
}
.edsRwT > span {
    color: rgb(255, 80, 88);
}
.cWRaxv {
    width: 100%;
}
.kufikJ {
    position: absolute;
    top: 0px;
    padding: 1rem;
    line-height: 16px;
    color: rgb(155, 153, 169);
}
.kufikJ span {
    display: inline-block;
    margin-top: 8px;
    font-size: 12px;
}
.fiKONI {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.fiKONI > span {
    font-size: 1rem;
    color: rgb(155, 153, 169);
}
.fiKONI > span a {
    color: rgb(155, 153, 169);
    text-decoration: underline;
}
.jThRIx {
    text-align: right;
}
.fHGNDN {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 3rem;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    position: relative;
    border-color: rgb(245, 126, 0) !important;
}

.iyRYQc {
    flex: 1 1 0%;
    height: 100%;
}
.iyRYQc input {
    width: 100%;
    height: 100% !important;
    border: 0px !important;
}
.bXXMNm {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    
}
.gcDiUb {
    color: rgb(245, 126, 0);
    font-size: 14px;
    margin-top: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.eDywOX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 3rem;
    border: 1px solid rgb(195, 194, 204);
    position: relative;
}
.cSmORH{
	display:flex;
	-webkit-box-align: center;
	align-items:center;
	height: 3rem;
	border: 1px solid rgb(30,29,41);
	position:relative;
}
.gkNEPQ {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: auto;
    max-width: 592px;
}
.cwSZAx {
    display: flex;
}
.lnmqww {
    flex-shrink: 0;
    border-radius: 1rem;
    background: rgb(244, 244, 250);
    height: 2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 0.5rem;
    margin-left: 0.5rem;
}
.isfkT {
    cursor: text;
}
.eCBgjg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDBDNC40ODYgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMG0zLjcwNyA2LjI5M2EuOTk5Ljk5OSAwIDAgMC0xLjQxNCAwTDEwIDguNTg2IDcuNzA3IDYuMjkzYTEgMSAwIDEgMC0xLjQxNCAxLjQxNEw4LjU4NiAxMGwtMi4yOTMgMi4yOTNhMSAxIDAgMSAwIDEuNDE0IDEuNDE0TDEwIDExLjQxNGwyLjI5MyAyLjI5M2EuOTk3Ljk5NyAwIDAgMCAxLjQxNCAwIC45OTkuOTk5IDAgMCAwIDAtMS40MTRMMTEuNDE0IDEwbDIuMjkzLTIuMjkzYS45OTkuOTk5IDAgMCAwIDAtMS40MTQiLz4KPC9zdmc+Cg==);
    margin-left: 0.5rem;
}
.hZCvWd {
    padding-top: 0.5rem;
    line-height: 1.3;
    color: rgb(136, 136, 136);
}
.hZCvWd > li {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
}
.hZCvWd > li::before {
    content: "- ";
}
.hZCvWd > li > p {
    margin-left: 0.5rem;
    line-height: 1.5;
}

.jeqdkH {
    margin-bottom: 3rem;
}
.gYVYeR {
    font-family: AppleSDGothic;
    letter-spacing: normal;
}
.qxbAL {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6px;
    font-size: 12px;
    color: rgb(155, 153, 169);
}
.qxbAL > p {
    font-size: 16px;
    font-weight: normal;
    color: rgb(30, 29, 41);
}
.qxbAL a {
    margin-left: 4px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(30, 29, 41);
}
.hOFNTa {
    padding-top: 0.5rem;
}
.iwsyNh:last-child {
    border-bottom: 0px;
}
.fMDfrj {
    width: 10.5rem;
    font-size: 18px;
}
.jcLwXM {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.jcLwXM::before {
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDBDNC40ODYgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMG0wIDE4Yy00LjQxMSAwLTgtMy41ODktOC04czMuNTg5LTggOC04IDggMy41ODkgOCA4LTMuNTg5IDgtOCA4bTIuMjkzLTEwLjcwN0w5IDEwLjU4NiA3LjcwNyA5LjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRsMiAyYS45OTcuOTk3IDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDEgMC0xLjQxNC0xLjQxNCIvPgo8L3N2Zz4K);
    border-radius: 50%;
}
.savePayCheck::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNGRjUwNTgiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDBDNC40ODYgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMG0yLjI5MyA3LjI5M0w5IDEwLjU4NiA3LjcwNyA5LjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRsMiAyYS45OTcuOTk3IDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDEgMC0xLjQxNC0xLjQxNCIvPgo8L3N2Zz4K);
}
.savePayNotCheck::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNDM0MyQ0MiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTEwIDBDNC40ODYgMCAwIDQuNDg2IDAgMTBzNC40ODYgMTAgMTAgMTAgMTAtNC40ODYgMTAtMTBTMTUuNTE0IDAgMTAgMG0wIDE4Yy00LjQxMSAwLTgtMy41ODktOC04czMuNTg5LTggOC04IDggMy41ODkgOCA4LTMuNTg5IDgtOCA4bTIuMjkzLTEwLjcwN0w5IDEwLjU4NiA3LjcwNyA5LjI5M2ExIDEgMCAxIDAtMS40MTQgMS40MTRsMiAyYS45OTcuOTk3IDAgMCAwIDEuNDE0IDBsNC00YTEgMSAwIDEgMC0xLjQxNC0xLjQxNCIvPgo8L3N2Zz4K);
}
.jcLwXM input[type="checkbox"] {
    display: none;
}
.gGgCNF {
    display: flex;
    height: 32px;
    font-weight: bold;
}
.gGgCNF > span {
    margin-top: 6.5px;
}
.gGgCNF svg {
    margin-left: 6px;
    align-self: center;
}
.gXvvll {
    border: 1px solid rgb(230, 229, 239);
    border-radius: 2px;
    background-color: rgb(250, 250, 253);
    padding: 36px;
    margin-top: 22px;
}
.gXvvll li {
    display: flex;
}
.gXvvll li + li {
    margin-top: 43px;
}
.gXvvll svg {
    margin-right: 8px;
}
.gXvvll p {
    font-size: 15px;
    color: rgb(30, 29, 41);
}
.gXvvll small {
    position: absolute;
    display: block;
    font-size: 13px;
    color: rgb(245, 126, 0);
    margin-top: 7px;
}
.gXvvll p a {
    color: inherit;
    text-decoration: underline;
}
.ccHHFe {
    font-size: 14px;
    color: rgb(114, 112, 127);
    margin: 20px 0px 154px 32px;
}
.gSsteC {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.cXiyBN {
    width: 30rem;
    background: rgb(255, 255, 255);
    border-radius: 2px;
}
.cXiyBN header {
    height: 4.5rem;
    font-size: 1.5rem;
    margin: 0px 1.5rem;
    border-bottom: 2px solid rgb(30, 29, 41);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.drcDtl {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiMxRTFEMjkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjQxNCAxMGw2LjI5My02LjI5M2ExIDEgMCAxIDAtMS40MTQtMS40MTRMMTAgOC41ODUgMy43MDcgMi4yOTNhMSAxIDAgMCAwLTEuNDE0IDEuNDE0bDYuMjkzIDYuMjkyLTYuMjkzIDYuMjkzYTEgMSAwIDEgMCAxLjQxNCAxLjQxNEwxMCAxMS40MTNsNi4yOTMgNi4yOTNhLjk5Ny45OTcgMCAwIDAgMS40MTQgMCAuOTk5Ljk5OSAwIDAgMCAwLTEuNDE0TDExLjQxNCAxMHoiLz4KPC9zdmc+Cg==);
}
.cXiyBN ul {
    margin-top: 0.5rem;
    padding: 0.5rem 0px;
    max-height: 25rem;
    overflow-y: auto;
}
.gSsteC {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.eQqdHR {
    width: 30rem;
    background: rgb(255, 255, 255);
    border-radius: 2px;
}
.eQqdHR header {
    height: 4.5rem;
    font-size: 1.5rem;
    margin: 0px 1.5rem;
    border-bottom: 2px solid rgb(30, 29, 41);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.iHukrm {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiMxRTFEMjkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjQxNCAxMGw2LjI5My02LjI5M2ExIDEgMCAxIDAtMS40MTQtMS40MTRMMTAgOC41ODUgMy43MDcgMi4yOTNhMSAxIDAgMCAwLTEuNDE0IDEuNDE0bDYuMjkzIDYuMjkyLTYuMjkzIDYuMjkzYTEgMSAwIDEgMCAxLjQxNCAxLjQxNEwxMCAxMS40MTNsNi4yOTMgNi4yOTNhLjk5Ny45OTcgMCAwIDAgMS40MTQgMCAuOTk5Ljk5OSAwIDAgMCAwLTEuNDE0TDExLjQxNCAxMHoiLz4KPC9zdmc+Cg==);
}
.cSdWx {
    padding: 1.5rem;
    position: relative;
}
.cSdWx .sc-hvvHee {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}
.gfcTGG {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiMxRTFEMjkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTIuMTUyIDguNjA4QTYuNDYzIDYuNDYzIDAgMCAxIDguNjEgMi4xNTJhNi40NjMgNi40NjMgMCAwIDEgNi40NTYgNi40NTYgNi40NjMgNi40NjMgMCAwIDEtNi40NTYgNi40NTYgNi40NjMgNi40NjMgMCAwIDEtNi40NTctNi40NTZtMTMuMjQ5IDUuMjdhOC41NSA4LjU1IDAgMCAwIDEuODE2LTUuMjdDMTcuMjE3IDMuODYyIDEzLjM1NSAwIDguNjEgMCAzLjg2MiAwIDAgMy44NjIgMCA4LjYwOGMwIDQuNzQ3IDMuODYyIDguNjA4IDguNjA5IDguNjA4YTguNTYgOC41NiAwIDAgMCA1LjI3LTEuODE2bDQuMjg0IDQuMjg0YTEuMDczIDEuMDczIDAgMCAwIDEuNTIxIDAgMS4wNzUgMS4wNzUgMCAwIDAgMC0xLjUyMmwtNC4yODMtNC4yODR6Ii8+Cjwvc3ZnPgo=);
}
.ebcoLy {
    display: flex;
    height: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    width: 1024px;
    margin: auto;
}	
.iVFWkX {
    height: 3.5rem;
    width: 10rem;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border-radius: 2px;
    background: rgb(255, 80, 88);
    position: relative;
}
.iVFWkX::before {
    content: "등록하기";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.iVFWkY {
    height: 3.5rem;
    width: 10rem;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border-radius: 2px;
    background: rgb(255, 80, 88);
    position: relative;
}
.iVFWkY::before {
    content: "수정하기";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.jJcvsb {
    height: 3rem;
    width: 6.5rem;
    text-align: center;
    border: 1px solid rgb(195, 194, 204);
    margin-right: 1rem;
    border-radius: 2px;
}
.ivFisA {
    width: 100%;
    margin-top: 1rem;
}
.kJFbCP {
    width: 100%;
    height: 5.5rem;
    background: rgb(250, 250, 253);
    box-shadow: rgb(234 233 241) 0px -1px 0px 0px;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

footer {
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem; /* 푸터 높이 */
}
.cbBjXl {
    width: 100%;
    height: 5.5rem;
    background: rgb(250, 250, 253);
    box-shadow: rgb(234 233 241) 0px -1px 0px 0px;
    left: 0px;
    bottom: 0px;
    position: fixed;
}

