<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorate="~{cmmn/adminLayout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>로그인 화면</title>
<script type="text/javascript" src="js/test.js"></script>
</head>
<body>
<div layout:fragment="content">
 
    <div class="row border-bottom" style="margin-top: 10px; margin-bottom: 10px;">
    	<img th:src="@{/image/}+${image}">
	</div>
</div>

</body>
</html>